<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Interactive Computer Graphics</a>
      <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul> -->
    </div>
  </nav>
  <main class="center-text">
    <h2>Demos</h2>
    <!-- TODO: figure out how to make images from ./src/pages/index available in webpack output -->
    <div class="demo-preview-container">
      <a href="barycentric-coordinates.html" class="demo-preview">
        <h3>Barycentric coordinates</h3>
        <img src="<%= require('./imgs/bary-preview.png') %>">
      </a>
      <a href="bezier-curve.html" class="demo-preview">
        <h3>Bezier Curve</h3>
        <img src="<%= require('./imgs/bezier-preview.png') %>">
      </a>
    </div>
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">DISCLAIMER: This is still a work in progress!</p>
          <p class="grey-text text-lighten-4">This web site is part of my Bachelor's thesis @ Vienna University of
            Technology.<br>
            My goal with this site is to help people interested in Computer Graphics to get a more intuitive
            understanding of some interesting topics in this field. I hope you find the demos on this site useful for
            your own learning journey :)
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/Sejmou" target="_blank">GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/samo-kolter-1b6aa3128/"
                target="_blank">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Created by Samo Kolter (2021)
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>
</body>

</html>