@import '../global-styles/styles.scss';

main p {
    font-size: 18px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-nav-title {
    font-size: 2.1rem;
    text-align: center;
}

.demo-preview-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    padding: 1em 0;
    gap: 1em;
}

.demo-preview-img-container {
    color: inherit; /* https://stackoverflow.com/a/6722667/13727176 */
    border: 1px solid grey;
    border-radius: 3px;
    padding: 1em;
    background: white;

    &:hover {
        filter: brightness(85%);
    }
}

.demo-preview-title {
    margin-top: 0;
}

.curve-demos {
    background: #eee;
}




@media (max-width: 400px) {
    .my-nav-title {
        font-size: 1.5rem;
    }
}




@media (max-width: 699px) {
    .demo-preview-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;
    }

    .demo-preview-description {
        order: -1;
    }
}