@import '../../colors.scss';

//this allows us to export variables from the scss file so that they can be used in JS/TS code
//it all started with this article: https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
//however, a lot more trial-and-error and googling was needed until I managed to find a working solution lol 
:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    successColor: $success-color;
    errorColor: $error-color;
    linkColor: $link-color;
}