@import '../b-spline/b-spline.scss';

#control-point-weight-table-container {
    overflow-x: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 0.5em;
    padding: 0.25em;
}

#control-point-weight-controls-label {
    margin-top: 1em;
}

#control-point-weight-table {
    td,
    th {
        min-width: 75px;
    }
}