//import materialize's color-variables in order to have access to color() function and color palettes
//(look into the file to figure out how picking colors works, the palettes work in a similar way as Angular Material's color palettes)
@import "materialize-css/sass/components/_color-variables";

//define color theme (a bit confusing and not documented anywhere at all?! looooooooool)
$primary-color: color("blue", "lighten-1");
$secondary-color: color("teal", "lighten-1");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");