@import "../demo.scss";

#degree-text {
    margin-right: 10px;
}

#t-controls-container {
    gap: 20px;
}

//this is a hack to render two canvases on top of each other (one renders the graphs and is rarely updated,
//the other renders the line at the current value of t and gets updated every 60 frames)
#b-spline-basis-function-visualization {
    position: relative;

    canvas:not(:first-child) {
        position: absolute;
        top: 0;
        left: 0;
    }
}

#knot-table-container {
    overflow-x: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 0.5em;
    padding: 0.25em;
}

#knot-controls-label {
    margin-top: 1em;
}

#knot-table {
    td,
    th {
        min-width: 75px;
    }
}
