@import '../../styles.scss';

#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;
}

/* hides page content (shown until p5.js is set up) */
#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-main-btn {
    margin-top: 2em;
    margin-left: 1em;
}
