//styles which are useful on all sites
$turquoise: #2ab7a9;
$dark-turquoise: #397e77;

*,
body {
    font-family: "Roboto", sans-serif;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center-cross-axis {
    align-items: center;
}

button {
    border: none;
    padding: 5px 10px;

    &:hover {
        background-color: $turquoise;
    }
}

/* https://stackoverflow.com/a/53236027/13727176 */
.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

/* trying to prevent selection of text in controls, especially on touch devices */
.prevent-text-select {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -moz-touch-callout: none;

    /* mobile webkit */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.center-text {
    text-align: center;
}