@import "../../demo.scss";

//this is a hack to render two canvases on top of each other (one renders the graphs and is rarely updated,
//the other renders the line at the current value of t and gets updated every 60 frames)
#bernstein-graph-container {
    position: relative;

    canvas:not(:first-child) {
        position: absolute;
        top: 0;
        left: 0;
    }
}

#bernstein-polynomials {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
}

.bernstein-polynomial-container:not(:first-child) {
    margin-top: 10px;
}

.polynomial-values {
    padding-left: 0.25em;
    font-family: "Computer Modern", serif;
    font-weight: 600;
}
