/* hides page content (shown until p5.js is set up) */
#demo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#demo {
    max-width: 800px;
}

#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-main-btn {
    margin-top: 2em;
    margin-left: 1em;
}

#demo-guide {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 1em;
    margin-bottom: 0.5em;

    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
}
