@import '../global-styles/styles.scss';

/* hides page content (shown until p5.js is set up) */
#demo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}

#demo {
    max-width: 800px;
}

#demo-guide {
    display: none;/* property removed by code of demo if needed */
}

.back-to-main-btn {
    margin-top: 2em;
    margin-left: 1em;
}

#demo-guide {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 1em;
    margin-bottom: 0.5em;

    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
}
