/* hides page content (shown until p5.js is set up) */
#demo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-main-btn {
    margin-top: 2em;
    margin-left: 1em;
}