<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <style>
    #cover {
      font-family: sans-serif;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Load pre-configured Mathjax with input TeX and output SVG configuration -->
  <!-- I really wanted to include MathJax TS and not load it as plain JS from CDN, but couldn't get it to work after lots of digging around - didn't understand docs lol, GitHub etc. also didn't help :((( -->
  <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
  <!-- Got some weird race conditions because of async attribute which is used in the import example on the MathJax website -->
  <!-- (in my webpack dev config sometimes mathjax would not be loaded yet when my demo's .ts file ran, in prod it worked only if my .ts code was using mathjax later and not immediately on page load) -->
  <!-- removing async doesn't seem to significantly impact performance though, so I removed it -->

  <!-- Computer modern font for mathematical notation (if needed besides MathJax compiled LaTeX) -->
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
</head>

<body>
  <div id="cover">
    <!-- #cover covers whole page until whole page until the page is done loading (.ts of respective demo page removes element once p5 is also set up) -->
    <p>Loading...</p>
  </div>

  <nav>
    <a href="#" class="my-nav-title">Interactive Computer Graphics</a>
  </nav>

  <a href="index.html">
    <button class="back-to-main-btn">Back to main page</button>
  </a>

  <main>
    <h4 id="demo-title" class="center-text"><%= htmlWebpackPlugin.options.heading %></h4>
    <div id="demo-description-container"></div>
    <div id="demo-wrapper">
      <div id="demo">
        <!-- Everything related to the demo gets inserted here -->
      </div>
    </div>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">
            The goal of this site is to help people interested in Computer Graphics to get a more intuitive
            understanding of some interesting topics in this field. I hope you find the demos on this site useful for
            your own learning journey :)
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/Sejmou/interactive-computer-graphics" target="_blank">GitHub Repository</a></li>
            <li><a class="grey-text text-lighten-3" href="https://pages.mtu.edu/~shene/COURSES/cs3621/NOTES/" target="_blank">Mathematical background (Curve demos)</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/samo-kolter-1b6aa3128/" target="_blank">Connect with me on LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Created by Samo Kolter (2021)
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>
</body>

</html>